<header>
  <div class="header-content">
    <h1>Alfredo Soto Nolazco</h1>
    <img
      src="/assets/foto_pro.png"
      alt="Foto Pro"
      class="profile-photo"
    />
  </div>
</header>
<main>
  <section class="container section-profile">
    <div class="row">
      <div class="col-md-12">
        <h2>Perfil</h2>
        <p>
          Programador fullstack especializado en el desarrollo de aplicaciones web con angular.
          Busco hacer de cada proyecto un reto que me ayude a crecer profesionalmente.
          Me gusta implementar formularios dinámicos con estilos visualmente agradables que
          puedan interactuar mediante todo tipo de peticiones con API's restfull implementadas con Java.
        </p>
      </div>
    </div>
  </section>
  <section class="container section-experience">
    <div class="row">
      <div class="col-md-12">
        <h2>Experiencia laboral</h2>
        <ul>
          <li>
            <div class="experience-item">
              <strong>Programador junior</strong>
              <span>Sintad (Setiembre 2023 - presente)</span>
            </div>
            <h4>Funciones:</h4>
            <p>
              Trabajo en conjunto con el equipo Aduanas para implementar nuevas interfaces y funcionalidades
              en nuestro módulo del proyecto SUMAX, el cual es la versión web de nuestro software ERP estrella
              de Comercio Exterior llamado SCE, nuestro equipo apunta a poder realizar los primeros pilotos en
              producción a finales de este año.
            </p>
            <h4>Logros:</h4>
            <p>
              Me encargué de realizar la migración de Angular 12 a la versión 17 en el módulo de
              Aduanas en un 35% menos del tiempo asignado para dicha tarea de esa forma pude avanzar
              con otras tareas asignadas al equipo previo a una presentación con la gerencia logrando
              de esta forma un impacto positivo en la eficiencia del desarrollo en el proyecto.
            </p>
          </li>
          <li>
            <div class="experience-item">
              <strong>QA</strong>
              <span>Global S1 (Junio 2023 - Julio 2023)</span>
            </div>
            <h4>Funciones:</h4>
            <p>
              Elaboré suites de prueba y documentación técnica en Notion para diferentes
              casos de uso en las implementaciones realizadas por el equipo de desarrollo.
            </p>
            <h4>Logros:</h4>
            <p>
              Completé a tiempo mis tareas asignadas y avancé a la par con algunos
              cursos formativos en la plataforma de Platzi y un curso de Postman,
              el cual me sirve mucho ahora como desarrollador para probar mis endpoints.
            </p>
          </li>
          <li>
            <div class="experience-item">
              <strong>Helpdesk</strong>
              <span>SG Tech (Noviembre 2022 - Marzo 2023)</span>
            </div>
            <h4>Funciones:</h4>
            <p>
              Atendí requerimientos con diferentes niveles de complejidad, realizados por los
              administradores de los locales de la cadena Rústica a nivel nacional, con respecto al software
              integrado en los equipos de sus tiendas (caja, cocina, etc).
            </p>
            <h4>Logros:</h4>
            <p>
              Logré dar soporte oportuno a los usuarios durante la ola de deslizamiento de lodo sufrido en los
              locales Rústica a comienzos del año 2023 reduciendo de esta forma el impacto negativo en la atención
              al público. Aprendí sobre la gestión que se realiza en los sistemas de la cadena a nivel
              administrativo y la forma como se integra el sistema en la atención al público.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
